* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 0 282px;
}

/* Header  */

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 17px;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  color: white;
  font-family: "Poppins";
  font-size: 21px;
  padding: 10px 18px;
  transition: 0.2s;
}

.nav ul li a:hover {
  color: #6d95fc;
}

.logo a img {
  width: 244px;
  height: 92px;
}

/* Sidebar */

.sidebar {
  padding: 0 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-icon {
  display: inline-block;
  right: 10px;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.sidebar-nav {
  color: white;
  font-family: "Poppins";
  font-size: 21px;
  padding: 10px 18px;
  height: 100%;
  width: 300px;
  position: fixed;
  left: -300px;
  top: 0;
  padding: 50px 10px;
  transition: all 300ms;
}

#menu {
  display: none;
}

#menu:checked ~ .sidebar-nav {
  left: 0;
}

/* Section 1 */

.first_section {
  display: flex;
  margin-top: 57px;
  padding: 0;
  position: relative;
  margin-bottom: 183px;
  margin-right: 310px;
}

.texts {
  color: white;
  margin-top: 178px;
  z-index: 2;
}

.welcome-h1 {
  font-family: "Poppins";
  font-size: 80px;
  font-weight: 700;
  line-height: 89.19px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-bottom: 43px;
  max-width: 820px;
}

h1 span {
  color: #6d95fc;
}

.welcometext {
  color: #6d95fc;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  letter-spacing: 0.145em;
  margin-bottom: 43px;
}

.line {
  height: 3px;
  max-width: 144px;
  width: 100%;
  background-color: #6d95fc;
  border-radius: 5px;
  margin-bottom: 43px;
  margin-top: 43px;
}

#p2 {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  max-width: 700px;
}

.texts a {
  color: white;
  font-family: "Poppins";
  font-size: 17px;
  padding: 5px 20px;
  display: inline-block;
  border: 3px solid #6d95fc;
  border-radius: 3px;
  margin-top: 36px;
  transition: 0.2s;
}

.texts a:hover {
  background-color: #6d95fc;
  color: antiquewhite;
  border: 3px solid transparent;
}

.womanimage img {
  position: absolute;
  left: 310px;
  z-index: 1;
  margin-top: 57px;
}

/* Section 2 */

.about-us {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 134px;
}

.about-us img {
  background: linear-gradient(
    90deg,
    #6d95fc -127.55%,
    rgba(21, 21, 21, 0.35) 51%
  );
}

.aboutpart {
  display: flex;
  flex-direction: column;
  width: 708px;
}

.about {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  letter-spacing: 0.145em;
  text-align: left;
  color: #6d95fc;
  margin-bottom: 26px;
}

.about-title {
  width: 614px;
}

.about-title span {
  color: #6d95fc;
}

.aboutpart hr {
  margin: 26px 0;
}

.create {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: 0.005em;
  color: #6d95fc;
  margin-bottom: 26px;
}

.about-text {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 26px;
}

/* Section 3 */
.services {
  display: flex;
  align-items: center;
  gap: 91px;
  margin-top: 87px;
  margin-bottom: 145px;
}

.innovation {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

h2 {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  letter-spacing: 0.145em;
  text-align: left;
  margin-bottom: 32px;
}

h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  line-height: 59.76px;
  text-align: left;
}

.title span {
  color: #6d95fc;
}

hr {
  width: 97.5px;
  height: 0px;
  border: 3px solid #ffffff;
  margin: 32px 0;
}

.text {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 32px;
}

.button {
  border: 3px solid #6d95fc;
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: 0.145em;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 32px;
  width: fit-content;
}

.button:hover {
  background-color: #6d95fc;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(109, 149, 252, 0.35) -346.67%,
    rgba(21, 21, 21, 0.31) 74.83%
  );
  padding: 30px 44px 35px 30px;
}

.box img {
  padding: 14px 63px;
}

.video-title {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 1px;
  color: #6d95fc;
}

.video-text {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 300;
  line-height: 20.83px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Section 4 */

.section4 {
  padding: 0;
}

.sectionblock {
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(
    -90deg,
    #6d95fc -100%,
    rgba(21, 21, 21, 0.35) 70%
  );
  margin-bottom: 94px;
}

.blocks {
  padding: 75px 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 194px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team {
  text-align: center;
}

/* section 5 */

.our-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
  max-width: 1920px;
  margin-top: 150px;
}

.work-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14.5px;
  margin-bottom: 49px;
}

.work-text {
  margin: 0;
  color: #6d95fc;
}

.picture-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 49px;
}

.rectangle {
  display: flex;
  margin: 0 auto;
}

.rectangle a {
  color: #ffffff;
  display: inline-block;
  padding: 10px;
  border: 3px solid transparent;
  transition: 0.2s;
}

.rectangle a:hover {
  border: 3px solid #6d95fc;
  transform: scale(1.3);
}

/* .carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
}

.carousel-slide img {
  width: 100%;
  flex-shrink: 0;
  max-width: 1920px;
}

.rectangle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.dot.active {
  background-color: #6d95fc;
}

.dot:hover {
  transform: scale(1.3);
} */

/* Section 6 */

.why-us {
  max-width: 1396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 169px;
  margin-bottom: 253px;
}

.why-title {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.085em;
  text-align: left;
  margin-left: 10px;
}

.why-hr {
  color: #6d95fc;
  border: 3px solid;
  margin-top: 8px;
  margin-bottom: 25px;
  width: 120px;
}

.why-main {
  display: flex;
  gap: 62px;
}

.why-experience {
  font-family: "Poppins";
  font-size: 55px;
  font-weight: 700;
  line-height: 60.23px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 80px;
}

.why-experience span {
  color: #6d95fc;
}

.right-text {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  width: 564px;
}

.why-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.why-right ul {
  list-style-image: url("./Image/bullet.png");
}

.why-right ul li {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-left: 30px;
  padding-left: 11px;
}

/* Section 7 */

.what-they-say {
  display: flex;
  margin-bottom: 134px;
  padding: 0;
  gap: 101px;
  justify-content: center;
}

.clients-say {
  /* max-width: 751px; */
  margin: 0 auto;
}

.client-content {
  max-width: 548px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-box {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-say {
  text-align: center;
  width: 424px;
}

.our-say span {
  color: #6d95fc;
}

.first-hr {
  color: #6d95fc;
  border: 3px solid;
  width: 218px;
}

.testimonial {
  color: #ffffff;
}

.second-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}

.inside-second-box {
  background: linear-gradient(
    175.64deg,
    rgba(17, 24, 42, 0.7) 19.67%,
    rgba(17, 24, 42, 0) 121.51%
  );
  padding: 36px 62px;
  border-radius: 38px;
}

.second-text {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: justify;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}

.second-author {
  display: flex;
  margin: 34px 12px;
  justify-content: space-around;
  align-items: center;
}

.name-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author-name {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 700;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: justify;
  text-decoration-skip-ink: none;
}

.author-contact {
  font-family: "Poppins";
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 23.31px;
  letter-spacing: 0.04em;
  text-align: justify;
  text-decoration-skip-ink: none;
  color: #6d95fc;
}

/* Section 8 */

.contact-getintouch {
  display: flex;
  gap: 147px;
  max-width: 1282px;
  margin: 0 auto;
  margin-top: 134px;
}

.touchup {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  margin-bottom: 30px;
}

.intouch-hr {
  margin-bottom: 26px;
}

.intouch-p {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 300;
  line-height: 34.96px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 40px;
}

.intouch-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location,
.phone,
.mailus {
  display: flex;
  gap: 34px;
}

.pin {
  width: 45px;
  height: 45px;
}

.office p {
  color: #6d95fc;
}

.form-container {
  background: linear-gradient(
    179.96deg,
    #12192b 0.03%,
    rgba(18, 25, 43, 0) 109.04%
  );
  border-radius: 34px;
  padding: 25px 57px 46px 57px;
  width: 539px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: 0.085em;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  background: none;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  outline: none;
}
#message {
  height: 178px;
  margin-bottom: 32px;
}

.contact-form button {
  background: #6d95fc;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 25px 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: fit-content;
  margin: 0 auto;
}

.contact-form button:hover {
  background: #357ab8;
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 100px;
  height: 50vh;
}

/* Footer  */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  max-width: 740px;
  margin: 0 auto;
  margin-top: 129px;
  padding: 0;
}

.line1 {
  height: 3px;
  width: 101px;
  background-color: aliceblue;
  border-radius: 5px;
}

.footer_menu ul {
  display: flex;
  gap: 32px;
}

.footer_menu ul li a {
  color: #6d95fc;
  font-family: "Poppins";
  font-size: 21px;
}

.soc_media ul {
  display: flex;
  gap: 26px;
  margin-top: 10px;
}

.soc_media {
  margin-bottom: 150px;
}

.footer_text {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  letter-spacing: -0.025em;
  text-align: center;
  padding: 10px;
}

.footerbottom {
  margin-bottom: 81px;
}

/* style support page*/

#support {
  position: relative;
  padding: 50px;
  text-align: center;
}

.support-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-character {
  position: relative;
  width: 400px;
  margin-right: 30px;
  animation: slideIn 3s forwards;
}

.support-message {
  font-size: 40px;
  line-height: 1.5;
  opacity: 0;
  animation: fadeIn 2s 3s forwards;
  text-align: left;
}

/* Animations */
@keyframes slideIn {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1900px) {
  .header {
    padding: 0;
  }

  .first_section {
    flex-direction: column;
    margin-right: 0;
  }

  .womanimage img {
    position: static;
  }

  .texts {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-h1 {
    text-align: center;
  }

  .about-us {
    flex-direction: column;
  }

  .gradient {
    left: 0px;
  }

  .gradient img:first-child {
    rotate: 90deg;
  }

  .picture-slide {
    flex-direction: column;
  }

  .what-they-say {
    flex-wrap: wrap;
    gap: 0;
  }

  .clients-say {
    order: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-image {
    order: 2;
    width: 50%;
    height: auto;
  }

  .why-us {
    justify-content: center;
    align-items: center;
  }

  .why-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .why-experience {
    text-align: center;
  }

  .blocks {
    gap: 40px;
  }
}

@media screen and (max-width: 1700px) {
  .section3 {
    padding: 0 100px;
  }

  .contact-intouch {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
  }

  .contact-getintouch {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services {
    flex-direction: column;
  }

  .innovation {
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .hamburger-menu {
    display: flex;
    justify-content: end;
  }
  .nav ul {
    display: none;
  }

  .topic,
  .title,
  .text {
    text-align: center;
  }

  .why-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-text {
    width: 600px;
  }

  .why-right ul {
    text-align: center;
  }

  .womanimage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .womanimage img {
    width: 50%;
  }

  .work-text {
    text-align: center;
  }

  .about-us img {
    width: 500px;
  }

  .sidebar-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    list-style: none;
  }

  .sidebar-ul li a:hover {
    color: #6d95fc;
  }
}

@media screen and (max-width: 900px) {
  .picture-slide img {
    width: 500px;
  }

  .aboutpart,
  .about-title {
    width: 590px;
  }

  .footer_menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .blocks {
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .blocks {
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box img {
    padding: 14px 30px;
  }

  .aboutpart,
  .about-title,
  .about-text,
  .right-text,
  #p2,
  .footer {
    width: 590px;
    padding: 0 5px;
  }

  .why-experience {
    font-size: 35px;
  }
}
